.list {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}

.enter {
  opacity: 0;
  transform: translateX(-20%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-20%);
  transition: all 250ms linear;
}
