/* .formBox {
  margin: 0;
} */

.form {
  display: block;
  flex-direction: column;
}

.label {
  display: flex;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

.input {
  margin-left: 12px;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 500ms linear;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0;
  transition: opacity 500ms linear;
}
