$main-color: #3787c9;
$main-btnContact-color: rgba(43, 43, 238, 0.87);
$main-shadow-color: #666;;
$secondary-color: #333232;
$clear-color: #fff;
$bg-color: #f0f1f3;
$inactive-color: #808080;
$inactive-color: #808080;
$border-color: #d4d4d4;
$small-color: #4c527d;

