.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 500;
}

.input {
  margin-left: 12px;
  width: 100%;
}

.button {
  width: 50%;
  margin: auto;
}
