.Section {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px auto;
  padding: 25px;
  width: 500px;
  border: 1px solid grey;
  border-radius: 10px;
  box-shadow: 1px 3px 13px 0px rgba(47, 50, 50, 0.5);
  background-color: rgb(245, 240, 245);
}

.title {
  margin-top: 0;
  color: rgb(93, 18, 136);
}

.appear {
  transform: translateY(-50%);
}

.appearActive {
  transform: translateY(0);
  transition: transform 250ms ease-in-out;
}

.enter {
  opacity: 0;
  transform: translateX(-20%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-20%);
  transition: all 250ms linear;
}

.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-50%);
  transition: all 250ms ease-in-out;
}
