/* .Page {
  background-image: 
    url(../components/UI/images/diary-3300606.jpg)
  
} */

.appear {
  transform: translateX(-100%);
}

.appearActive {
  transform: translateX(0);
  transition: transform 500ms linear;
}

.enter {
  opacity: 0;
  transform: translateX(100%);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transform: opacity 500ms linear;
}
