.AppBar {
  display: flex;
  padding: 20px;
  border-bottom: 2px solid rgba(32, 60, 80, 0.2);
  /* margin-bottom: 15px; */
  background-color: rgb(226, 188, 219);
  z-index: 10;
}

.AuthForm {
  display: flex;
  margin-right: 0;
  align-items: center;
  margin-left: auto;
}

.Avatar {
  margin-right: 15px;
  border-radius: 50%;
}

.UserName {
  font-weight: bold;
  margin-right: 15px;
}

.NavLink {
  color: #000;
}

.NavLink:not(:last-child) {
  margin-right: 20px;
}

.NavLink_active {
  font-weight: bold;
  color: rgb(92, 51, 92);
  text-decoration: underline;
}

.appear {
  transform: translateY(-100%);
}

.appearActive {
  transform: translateY(0);
  transition: transform 500ms linear;
}

.enter {
  opacity: 0;
  transform: translateX(100%);
}

.enterActive {
  opacity: 1;
  transform: translate(0);
  transform: opacity 500ms linear;
}
