/* .List {
  width: 500px;
} */

.List__item {
  display: flex;
  align-items: center;
  padding: 0px;
  margin-top: 8px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.List__button {
  align-items: flex-end;
  margin-right: 4px;
  margin-left: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background-color: #c0d4f5;
  border: 1px;
  outline: 0;
  padding: 2px 8px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.05);
  font: inherit;
  text-transform: none;
  user-select: none;
  transition: background-color 200ms ease-in-out;
}
.List__button:hover {
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.15);
  background-color: orange;
}
